# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
aibank/node_modules/
aibank/.pnp
aibank/.pnp.js

# testing
aibank/coverage/

# next.js
aibank/.next/
aibank/out/

# production
aibank/build/

# misc
.DS_Store
*.pem

# debug
aibank/npm-debug.log*
aibank/yarn-debug.log*
aibank/yarn-error.log*

# local env files
aibank/.env*.local
aibank/.env

# vercel
aibank/.vercel/

# typescript
aibank/*.tsbuildinfo
aibank/next-env.d.ts